<script id="verifyTokenAdmin_id" type="module" src="/scripts/verifyTokenAdmin.js" urlS="{{url}}"></script>
<h1 class="center-title roboto_800">Comercial - admin</h1>
<div class="button_back">
    <button class="roboto_400" onclick="return_home()">Home</button>
</div>
<div class="form_center files">
    {{!-- <form action="/api/admin/comercial-upload-file" method="post" enctype="multipart/form-data"> --}}
        <form id="comercial_file_upload-form" enctype="multipart/form-data">
            <input type="file" id="file-comercial_id" name="file-comercial">
            <input type="submit" id="comercial_file_upload-submit_id" value="Enviar">
        </form>
</div>
<div class="files_cont-admin">
    {{#each archivos as | val key |}}
    <div>
        <a class="roboto_400" href="{{url}}/uploads/comercial/{{this}}">{{this}}</a>
        {{!-- <a id="file_comercial-{{key}}" name="{{this}}" class="roboto_400" onclick="show_file_comercial({{key}})">{{this}}</a> --}}
    </div>
    <div class="files_cont-admin-center">
        <form id="comercial_file_delete-form-{{key}}">
            <input type="hidden" id="id_delete_comercial_file_id-{{key}}" value="{{this}}">
            <input type="submit" class="roboto_400" id="delete_comercial_file-submit_id-{{key}}" value="Eliminar" onclick="delete_file_comercial_form({{key}})">
        </form>
    </div>
    {{/each}}
</div>